﻿@model IEnumerable<Bondora.Data.ViewModels.Home.EquipmentViewModel>


<h2>
    Equipment rental store
</h2>
<form action="@Url.Action("Rent")" method="post">
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Days
            </th>
        </tr>
        </thead>
        
        @Html.EditorFor(x => Model)

    </table>
    <input type="submit" value="Add to cart" class="btn btn-primary"/>
</form>

