﻿@model IEnumerable<Bondora.Data.ViewModels.Home.OrderViewModel>

<h2>Current rental orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Total items
            </th>
            <th>
                Total Price
            </th>
            <th>
                Total Bonus
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(x => Model)
    </tbody>
</table>