﻿@model Bondora.Data.ViewModels.Home.OrderViewModel
    

<div>
    <h2>
        Summary of order @Model.Id
    </h2>
    <table class="table">

        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Days
            </th>
            <th>
                Total €
            </th>
            <th>
                Bonus
            </th>
        </tr>
        </thead>
        <tbody>
        @Html.DisplayFor(x => Model.Rentals)
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>@Model.TotalOrderPrice</strong></td>
            <td><strong>@Model.TotalOrderBonus</strong></td>
        </tr>
        </tfoot>
    </table>
    
    <a href="@Url.Action("GetInvoice", "Home", new {id = Model.Id})" class="btn btn-info">Download Text Invoice</a>
    
</div>