﻿@model Bondora.Data.ViewModels.Home.OrderViewModel


<tr>
    <th>
        <a href="@Url.Action("ViewOrder", "Home", new {id = Model.Id})">@Model.Id</a> 
    </th>
    <th>
        @Model.Rentals.Count()
    </th>
    <th>
        @Model.TotalOrderPrice
    </th>
    <th>
        @Model.TotalOrderBonus
    </th>
    <th>
        <a href="@Url.Action("ViewOrder", "Home", new {id = Model.Id})" class="btn btn-success">View</a> 
    </th>
</tr>


