﻿@model Bondora.Data.ViewModels.Home.RentalViewModel
   
<tr>
    <td>
        @Model.Item.Name
    </td>
    <td>
        @Model.Item.EquipmentType
    </td>
    <td>
        @Model.Days
    </td>
    <td>
        @Model.TotalPrice
    </td>
    <td>
        @Model.TotalBonus
    </td>
</tr>