﻿@model Bondora.Data.ViewModels.Home.EquipmentViewModel
    
<tr>
    <td>@Model.Name</td>
    <td>@Model.EquipmentType.ToString()</td>
    <td>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.EquipmentType)
        @Html.HiddenFor(x => x.Id)
        @Html.ValidationMessageFor(x => x.Days)
        @Html.TextBoxFor(x => x.Days, new {@type = "number", @class = "form-control"})
    </td>

</tr>